<h1>Connecting to db and writing into it (tried different ways)</h1>

<p>1. Switch over to postres account on server</p>
<p>$sudo -i -u postgres</p>

<p>2. Access postgres prompt</p>
<p>$psql DBNAME USERNAME</p>

<p>3. Check connection information</p>

oma_catalog_test=# \conninfo
You are connected to database "oma_catalog_test" as user "postgres" via socket in "/var/run/postgresql" at port "5432".

<h3>Connect to db and exectue raw SQL</h3>

In [1]:
from sqlalchemy import create_engine

In [2]:
db_string = 'postgresql://postgres:test1234@localhost:5432/oma_catalog_test'
db = create_engine(db_string)
db.execute("CREATE TABLE IF NOT EXISTS films (title text, director text, year text)")

/home/kiryl/Documents/Environments/scraper/lib/python3.6/site-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)

In [3]:
db.execute("INSERT INTO films (title, director, year) VALUES ('Doctor Strange', 'Scott Derrickson', '2016')")
result_set = db.execute("SELECT * FROM films")  
for r in result_set:  
    print(r)

('Doctor Strange', 'Scott Derrickson', '2016')
('Doctor Strange', 'Scott Derrickson', '2016')
('Doctor Strange', 'Scott Derrickson', '2016')

<p>Using raw sql statements to insert entries intro db is possible but can be very messy.</p>

<h3>TRY CRUD using SQL expression language</h3>

In [4]:
from sqlalchemy import create_engine  
from sqlalchemy import Table, Column, String, MetaData

In [7]:
db_string = 'postgresql://postgres:test1234@localhost:5432/oma_catalog_test'
db2 = create_engine(db_string)


meta = MetaData(db2)  
film_table = Table('film_table', meta,  
                       Column('title', String),
                       Column('director', String),
                       Column('year', String))

with db2.connect() as conn:

    # Create
#    film_table.create()
    insert_statement = film_table.insert().values(title="game of thromes", \
                                                  director="john snow", \
                                                  year="2015")
    conn.execute(insert_statement)

    # Read
    select_statement = film_table.select()
    result_set = conn.execute(select_statement)
    for r in result_set:
        print(r)
        
    # Delete
    delete_statement = film_table.delete().where(film_table.c.year == "2016")
    conn.execute(delete_statement)

('Doctor Strange', 'Scott Derrickson', '2016')
('game of thromes', 'john snow', '2016')
('game of thromes', 'john snow', '2016')
('game of thromes', 'john snow', '2015')

<h5>TRY retrieving data from existing tables</h5>

In [10]:
db_string = 'postgresql://postgres:test1234@localhost:5432/oma_catalog_test'
db3 = create_engine(db_string)

print(f'\nTry getting data from films table:')
result_set = db3.execute("SELECT * FROM films")  
for r in result_set:  
    print(r)

    
print(f'\nTry getting data from film_table table:')
result_set2 = db3.execute("SELECT * FROM film_table")  
for r in result_set2:  
    print(r)

Try getting data from films table:
('Doctor Strange', 'Scott Derrickson', '2016')
('Doctor Strange', 'Scott Derrickson', '2016')
('Doctor Strange', 'Scott Derrickson', '2016')

Try getting data from film_table table:
('game of thromes', 'john snow', '2015')

<h3>TRY CRUD using SQL ORM</h3>

In [11]:
from sqlalchemy import create_engine  
from sqlalchemy import Column, String  
from sqlalchemy.ext.declarative import declarative_base  
from sqlalchemy.orm import sessionmaker

In [22]:
db_string = 'postgresql://postgres:test1234@localhost:5432/oma_catalog_test'

db_parse = create_engine(db_string)  
base = declarative_base()

#create python class that subclasses declarative_base
class Product(base):  
    __tablename__ = 'products'

    url = Column(String, primary_key=True)
    category = Column(String)
    subcategory_lvl1 = Column(String)
    subcategory_lvl2 = Column(String)

Session = sessionmaker(db_parse)  
session = Session()

base.metadata.create_all(db_parse)

#Create 
test_product = Product(url = "oma/test_product3", \
                       category = "test_category3", \
                       subcategory_lvl1 = "subcat_lvl1 3", \
                       subcategory_lvl2 = "subcat_lvl2 3")  
session.add(test_product)  
session.commit()

# Retrieve 
products = session.query(Product)  
for product in products:  
    print(f'\n {product.url}, {product.category}')

 oma/test_product, test_category

 oma/test_product2, test_category2

 oma/test_product3, test_category3

<h5>TRY retrieving data from existing product table using new connection</h5>

In [23]:
db_string = 'postgresql://postgres:test1234@localhost:5432/oma_catalog_test'

db_test_retrieve = create_engine(db_string)  
base = declarative_base()
Session = sessionmaker(db_test_retrieve)  
session = Session()

products = session.query(Product)  
for product in products:  
    print(f'\n {product.url}, {product.category}')

 oma/test_product, test_category

 oma/test_product2, test_category2

 oma/test_product3, test_category3

<h3>Conclusion</h3>
<p>We successfully tried creating a table in postgresql database, writing and retrieving from it. Now it is time to move towards writing product information into database.</p>